* {
  margin: unset;
}

html {
  color-scheme: light dark;
}

#root {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr auto;

  min-height: 0;

  aside {
    min-height: 0;
    overflow-y: auto;
  }
}

header,
aside {
  padding: 0.4rem;
}

header nav {
  display: flex;
  gap: 0.2rem;
}
