* {
  margin: unset;
}

#root {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}

#root > h1 {
  padding: 0.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr auto;
  min-height: 0;

  aside {
    padding: 0.5rem 1rem;
    min-height: 0;
    display: flex;
    flex-direction: column;
    ul {
      overflow-y: auto;
    }
  }
}
