* {
  margin: unset;
}

#root {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.ol-overlay-container {
  background-color: white;
  padding: 0.25em;
  border-radius: 8px;
  margin-top: -1.2rem;

  &::before {
    content: "";
    border-style: solid;
    position: absolute;
    border-width: 0.8em 0.5em 0 0.5em;
    border-color: white transparent transparent transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
